<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">  
    <title>rconsole demo</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script id="rconsole" src="http://rconsole.dev:5000/rconsole.js?0a7da8c2-fb57-47a2-b815-add280335b14">
    </script>
</head>
<body>
    <h1>rconsole demo</h1>
</body>
</html>
