<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">  
    <title>rconsole demo</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script id="rconsole" src="http://<%- host %>/rconsole.js?b3c3bf99-8800-4d03-9922-402f9fda5c63">
    </script>
</head>
<body>
    <h1>rconsole demo</h1>
</body>
</html>
